.vscode/* 

product_processor

*.o
*.d
*.so
*.a
*.out
*.exe
*.dll
*.lib
*.txt
*.vcd
*.vvp 
*.log
hardware/sim/* 
software/out/* 
compiler/lib/*  
compiler/build/*
compiler/compile_commands.json 
compiler/.cache/*
.nvim/*
__pycache__
